@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}
.navbar{
    padding-top: none;
}


@media (max-width:640px){
    a.active{
     background-color: black;
     color: white;
    }
}


