@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}
.navbar{
    padding-top: none;
}


@media (max-width:640px){
    a.active{
     background-color: black;
     color: white;
    }
}


.input {
  @apply w-full
  border border-gray-300
  rounded-lg
  px-5 py-4
  text-base
  outline-none
  bg-blue-50
  focus:bg-white
  focus:border-black
  focus:ring-2 focus:ring-black/20
  transition;
}
